@use "../../../styles/abstracts" as *;



.grid {
  @include container($container-2xl);
  display: flex;
  flex-direction: column;
  margin-top: $space-24;
  @include stack($space-6);

  @include breakpoint(lg) {
    flex-direction: row;
  }


.statement {
  display: flex;
  @include fluid-type(2rem, 5rem);
  font-weight: $font-weight-black;
  margin: 0;
  font-weight: 400;
  font-size: clamp(2rem, 5.5vw, 5rem);
  line-height: 0.9;
  letter-spacing: -0.025em;
  color: #2B2D42;
  max-width: 22ch;
  white-space: pre-line;

}

.rail {
  @include stack($space-6);
}

}