@use '../../../styles/abstracts' as *;

.root {
  position: fixed;
  inset: 0 0 auto 0;
  z-index: $z-sticky;
  pointer-events: none;
  height: $space-12;
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  padding: 0 $space-4 0;

  > * {
    pointer-events: auto;
  }
}

.wordmark {
  position: absolute;
  top: $space-16!important; // override inline styles for scroll effect
  line-height: 0;
  z-index: 1;
  transform-origin: top left;
  top: calc(#{$space-4} * var(--wordmark-progress, 0));
  left: calc(#{$space-6} * var(--wordmark-progress, 0));

  width: calc(
    96vw * (1 - var(--wordmark-progress, 0)) +
    10rem * var(--wordmark-progress, 0)
  );
}

.wordmarkLink {
  display: block;
  color: inherit;
  text-decoration: none;
  line-height: 0;
  border-radius: $radius-sm;

  &:focus-visible {
    @include focus-ring;
  }
}

.wordmarkImg {
  display: block;
  width: 100%;
  height: auto;
}

.nav {
  grid-column: 2;
  position: relative;
  top: $space-3;
  display: flex;
  gap: $space-6;
  z-index: 2;
}